div {
    border: 10px solid darkcyan;
    margin: 10px;
    width: 150px;
    height: 150px;
  }
  
  #red {
    background-color: red;
  }
  
  #green {
    background-color: green;
  }
  
  #blue {
    background-color: blue;
  }
  
  #orange {
    background-color: orange;
  }
  
  #purple {
    background-color: purple;
  }
  
  #brown {
    background-color: brown;
  }
  
  /* START BELOW THIS LINE */

/* First One */
#red:hover{
    transition-property:width;
    transition-duration: 3s;
    width: 300px;
}

/* Second */
#green:hover{
    background-color: yellow;
    transform: rotate(360deg);
    transition-duration: 2s;
    transition-delay: 1s;

}

